/*основные настройки для всех таблиц*/
table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid black;
}
th,td{
border: 1px solid black;
padding: 5px 15px;
}

.main_header { /*стилизация для заголовков*/
    background-color: #66A1D2;
    border: 1px solid black;
    padding: 5px 10px;
}
/*Заголовок "Сотрудник"*/

.header_employee{
background-color: #cce5ff;
text-align:center;
padding: 5px 10px;

}
/*Дни недели*/
.weekdays{
background-color: #cce5ff;
padding: 3px 15px 3px 3px;
text-align:left;

}
/*дни*/
.days  {
    background-color: #cce5ff;
    text-align: right;
    padding: 3px 2px 3px 15px;
}


/*Список сотрудников */
.employees{
background-color: #cce5ff;
padding-left:3px;
}
/*стилизация для смен*/

.work {
    background-color: #FF0000;
    color: #FF0000;
}
.weekend {
    background-color: #92D050;
    color: #92D050;
}

.invent {
    background-color: #00B0F0;
    color: #00B0F0;
}
.dop_smens{
    background-color: #FFC000;
    color:black;
}



/*Информационная таблица*/
.table-container {
    display: flex;
    margin-top:10px;
}




/*Информационная таблица*/


.table_info th {
    max-width: 150px; /* Минимальная ширина ячеек заголовка */
    text-align: center; /* Выравнивание текста */
    padding:5px;
}


.summaryweekend {
    background-color: #92D050;
    text-align: center;
    color:#FFFFFF;
}

.summarywork {
    background-color: #FF0000;
    text-align: center;
}

.summarydop {
    background-color: #FFC000;
    text-align: center;
    color:#FFFFFF;
}

.summaryinvent {
    background-color: #00B0F0;
    text-align: center;
}

/*результарующая таблица*/
.result_table{
margin-left: 100px;
}

.header_employee_result { /*заголовок "Сотрудник*/
background-color: #FFF2CC;

}
.header_smens_result {/*заголовок "смены"*/
background-color: #FFE699;
padding:10px 40px;
}

.header_dopsmens_result {/*заголовок "Подработки"*/
background-color:#FFD966;
}

.smens_or_dop th{
padding: 3px 30px  3px 2px;
text-align: left ; /* Выравнивание текста влево */
}

.smens_color {
background-color: #FFE699;
text-align:center;
}

.dop_smens_color {
background-color: #FFD966;
text-align:center;
}
.data_result{
background-color: #FFF2CC;
text-align:left;
padding-left:3px;

}
.dopsmens_color{
background-color: #FFD966;
text-align:center;
}











